img[data-action="zoom"] {
  cursor: pointer;
  cursor: zoom-in;
}

.zoom-img,
.zoom-img-wrap {
  position: relative;
  z-index: 666;
  transition: transform 300ms;
  will-change: transform;
}

img.zoom-img {
  cursor: pointer;
  cursor: zoom-out;
}

.zoom-overlay {
  position: fixed;
  inset: 0;
  z-index: 420;
  background: #fff;
  pointer-events: none;
  opacity: 0;
  transition: opacity 300ms;
}

.zoom-overlay-open .zoom-overlay {
  opacity: 1;
}

.zoom-overlay-open,
.zoom-overlay-transitioning {
  cursor: default;
}
